table {
	border: 1px solid black;
	background: #ddd;
	border-spacing: 0;
	border-collapse: collapse;
	clear: both;
	margin-top: 10px;
	


}

td {
	border: 1px solid black;
	border-collapse: 0;
	width: 10px;
	height: 10px;
}

.red {
    background-color:red;
}

h2 {
	width: 60%;
	margin: 0 auto;
	text-align: center;
}
p {
	float: left;
	margin: 0;
}
label {
	float: right;
}

.wrap {
	width: 650px;
	margin: 0 auto;
}